* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  padding: 1.5% 5%; /* Adjusted padding for better responsiveness */
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

header img {
  max-width: 2.85rem; /* Changed width to max-width for better responsiveness */
  height: auto; /* Ensures aspect ratio is maintained */
}

h3 a {
  font-size: 1.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  color: red;
  font-weight: 300;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 2rem auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.main-bet,
button,
.main-pilot {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
button {
  padding: 0.75rem 1.5rem;
  font-weight: 300;
}

.main-bet input[type="number"],
#option,
select {
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0 1rem;
  border: 2px solid grey;
  border-radius: 4px;
  font-size: 1rem;
  width: 10em;
  height: 3em;
}

.main-bet input[type="number"]:focus {
  border: 3px solid grey;
}

.section-options {
  padding-bottom: 2rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.section-options select,
.section-options option,
.section-options button {
  font-size: 1.25rem;
  margin: 0 1rem; /* Adjusted margin for better spacing */
  padding: 0.5rem 1rem; /* Adjusted padding for better spacing */
  border: 2px solid grey;
  border-radius: 4px;
}
.section-options button {
  margin-top: 2rem;
  margin-left: 20%;
  padding: 0.5rem 2rem;
}
.section-options button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-style: italic;
}
.section-options button {
  align-items: center;
}
.section-game img {
  float: right;
}

.pista {
  width: 100em; /* Changed width to 100% for better responsiveness */
  max-width: 50em; /* Added max-width for better responsiveness */
  height: 80px;
  background-color: rgb(211, 211, 211);
  position: relative;
  margin: 1.5rem 2rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
}

.pista:last-child {
  margin-bottom: 3rem;
}

#car1,
#car2,
#car3,
#car4,
#car5 {
  position: absolute;
  transform: translateX(0px);
}

#car1 img,
#car2 img,
#car3 img,
#car4 img,
#car5 img {
  width: 100px;
  height: 100px;
}

#finish-line {
  width: 5rem;
  margin: -4rem 2rem 0 0;
}

#message {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  .pista {
    width: 40em;
    margin: 1rem 4rem 0 2rem;
  }

  .section-options button:focus {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-style: italic;
  }
}

@media screen and (max-width: 798px) {
  .pista {
    width: 30em;
    margin: 1rem 5rem 0 2rem;
  }
}

@media screen and (max-width: 560px) {
  .pista {
    width: 20em;
    margin: 1rem 1rem 0 0;
  }

  #finish-line {
    width: 4rem;
    margin: 0rem 3rem 1rem 0;
  }

  .before-game {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    align-items: center;
    justify-content: center;
  }

  #message {
    font-size: 1rem;
  }
}
